.auth-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.auth-container form {
  width: min(325px, 100%);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-md) var(--space-sm);
  overflow: hidden;
  margin: auto;
}

.auth-form-error {
  width: 200px;
  /* position: absolute; */
  z-index: 2;
}

.auth-container form img {
  height: 40px;
  margin-bottom: var(--space-md);
}

.auth-container form p {
  font-size: var(--fs-xs);
}
.auth-container form .auth-action-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.auth-container form .auth-action-text span {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  cursor: pointer;
  text-decoration: underline;
}
