.auth-container {
  margin: 0 auto;
  height: 100vh;
  width: min(350px, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-sm);
  padding: var(--space-lg) 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 100%;
  background: var(--surface);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
}

.auth-form .auth-logo {
  width: 50px;
  height: 50px;
  display: block;
  /* margin: 0 auto; */
  padding: var(--space-2xs);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.auth-form h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-medium);
}
.auth-email-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--surface);
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  cursor: pointer;
}

.auth-email-preview p {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--fs-base);
  color: var(--text);
  font-weight: var(--fw-medium);
}

.auth-email-preview span {
  font-size: var(--fs-lg);
}

.auth-action-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-base);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
  font-weight: var(--fw-medium);
  background: var(--text);
  color: var(--bg);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.auth-action-btn:hover {
  opacity: 0.9;
}

/* p:has(.auth-switch-link) {
  text-align: right;
} */
p:has(.auth-switch-link) a {
  color: inherit;
  text-decoration: dotted underline;
  font-weight: var(--fw-medium);
}

.auth-form-links {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: var(--space-sm);
}
.auth-form-link {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  color: var(--muted);
  font-size: var(--fs-xs);
}
.auth-form-link span {
  font-size: var(--fs-sm);
}
.auth-form-link:hover {
  color: var(--primary-hover);
}
