.job-details-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
.job-details-container .mui-input {
  width: 100%;
}

.job-details-container .deadline-input-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
.job-details-container .deadline-inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-sm);
}

.job-details-container .mui-input-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
