.market-list-item {
  display: flex;
  flex-direction: column;
  width: min(100%, 150px);
  border-radius: var(--radius-md);
  overflow: hidden;
  padding: var(--space-xs) var(--space-sm);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.market-list-item:hover {
  background: var(--surface);
}

.market-list-item img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius-sm);
}
.market-list-item h3 {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
}
.market-list-item p {
  font-size: var(--fs-base);
}

.market-list-item p,
.market-list-item h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
