@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* Base */
  --base-font-size: 14px;
  --font-family: "Inter", system-ui, sans-serif;

  /* Font sizes */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Spacing */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Light mode colors */
  --primary: #076c44;
  --primary-hover: #0b8c56;
  --primary-bg: #04573657;
  --success: #0c7a43;
  --success-hover: #119d56;
  --warning: #e6a700;
  --warning-hover: #f0b833;
  --danger: #d13b3b;
  --danger-hover: #e24f4f;
  --danger-bg: #d13b3b57;
  --info: #0074d9;
  --info-hover: #0a88ef;

  --bg: #f9f9f9;
  --bg-alt: #f0f0f0;
  --surface: #ffffff;
  --surface-alt: #f7f7f7;
  --border: #e0e0e0;
  --text: #1a1a1a;
  --muted: #6c757d;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.08);
  --header-height: 70px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0e0f0f;
    --bg-alt: #1b1c1c;
    --surface: #1f2020;
    --surface-alt: #2a2b2b;
    --border: #333;
    --text: #e4e4e4;
    --muted: #8a8a8a;

    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
    --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.5);
  }
}

@font-face {
  font-family: "Material Symbols Outlined";
  src: url("/fonts/google_icons_outlined.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--text);
  background: var(--bg);
  transition: background 0.3s, color 0.3s;
  max-width: 1200px;
  margin: 0 auto;
}
/* general styles */

.muted-text {
  font-size: var(--base-font-size);
  color: var(--muted);
  line-height: 1.5;
}
