.main-layout {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  background: var(--bg);
}
section.app-outlet-section {
  width: min(600px, 100%);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-sm);
  padding-bottom: 80px;

  background: var(--bg);

  margin-right: auto;
  margin-left: auto;
}
