main {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  justify-content: space-between;
}
section {
  width: min(550px, 100%);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md) var(--space-sm);
}
